<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/deco.css">
    <script defer src="main.js"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="483993169934-7u13102b2s7g4mjemkp6htotpeqdkmes.apps.googleusercontent.com">
</head>

<body>
<!--주석-->
<article class="container">
    <header id="header">
        <nav id="nav">
            <div class="top">
                <a class="active" href="#">
                    MurangE
                </a>
                <a id="login" onclick="location.href='index.html'"><div class="g-signin2" data-onsuccess="onSignIn"></div></a>

            </div>
        </nav>
    </header>


    <main class="main">

        <!--데이터 주고받는 코드-->


        <!--연습한 코드-->
        <script type="text/javascript">
                function change(){
                        var changed = document.getElementById('sidebar').style.display = "none";
                }  


                //로그인 후에 계정 정보 백으로 전송
                $(document).ready(function(){
                  $('#submit').click(function(){   //submit 버튼을 클릭하였을 때
                 let inputData = {"contents": "new sample_contents"};
                   $.ajax({
                     type:'post',   //post 방식으로 전송
                     contentType:"application/json;charset=UTF-8",
                     url:'/users',
                     data : JSON.stringify(inputData),
                     dataType:'json',
                      success : function(data){
                         alert('계정 정보 전송 성공');
                    }
                    });
                    });
                });

                var userdata;
                //유저 id로 계정 정보 받아오기 (로그인 해서 post로 데이터 보낸 후에 실행하기)
                $.ajax({
                    url : "/users/{user-id}",
                    data : 'get',
                    contentType:"application/json;charset=UTF-8",
                    dataType : "json",
                    success : function(data) {
                        console.log("loading success");
                        userdata = data;
                    },
                    error : function() {
                        //alert('유저 정보 로딩 에러');
                    }
                });


        //처음 페이지 로딩시 받아올 데이터
        $(document).ready(function() {
            // 1. 감정별 인기 음악
            $(document).ready(function(){
                    $.ajax({
                        url : "http://localhost:8080/recommend",
                        data : 'get',
                        contentType:"application/json;charset=UTF-8",
                        dataType : "json",
                        success : function(data) {
                            // console.log(data);

                            for (step = 1; step < 11; step++) {
                                document.getElementById('pl1_music'+step).innerHTML=data[step-1].id;
                                document.getElementById('pl1_music'+step).style.backgroundImage = "url('" + data[step-1].img_url + "')";
                                // console.log(data[step-1].id);
                                // console.log(data[step-1].img_url);
                            }
                            // console.log("loading success");

                        },
                        error : function() {
                            //alert('음악 재생 에러');
                        }
                });
            });

            // 2. 오늘의 인기 음악
            $(document).ready(function(){
                    $.ajax({
                        url : "http://localhost:8080/recommend/today",
                        data : 'get',
                        contentType:"application/json;charset=UTF-8",
                        dataType : "json",
                        success : function(data) {
                            console.log("today");
                            console.log(data);

                            for (step = 1; step < 11; step++) {
                                document.getElementById('pl2_music'+step).innerHTML=data[step-1].id;
                                document.getElementById('pl2_music'+step).style.backgroundImage = "url('" + data[step-1].img_url + "')";
                                console.log(data[step-1].id);
                                console.log(data[step-1].img_url);
                            }
                            // console.log("loading success");

                        },
                        error : function() {
                            //alert('음악 재생 에러');
                        }
                });
            });

            // 3. 이번주 인기 음악
            $(document).ready(function(){
                    $.ajax({
                        url : "http://localhost:8080/recommend/weekly",
                        data : 'get',
                        contentType:"application/json;charset=UTF-8",
                        dataType : "json",
                        success : function(data) {
                            // console.log(data);
                            for (step = 1; step < 11; step++) {
                                document.getElementById('pl3_music'+step).innerHTML=data[step-1].id;
                                document.getElementById('pl3_music'+step).style.backgroundImage = "url('" + data[step-1].img_url + "')";
                                // console.log(data[step-1].id);
                                // console.log(data[step-1].img_url);
                            }
                            // console.log("loading success");

                        },
                        error : function() {
                            //alert('음악 재생 에러');
                        }
                });
            });





<!--            //음악 재생 코드-->
<!--            $(document).ready(function(){-->
<!--                  $('.playlist').click(function(){-->
<!--                    alert('아이디는 '+event.srcElement.id+' innerHTML은 '+document.getElementById(event.srcElement.id).innerHTML);-->
<!--                    $.ajax({-->
<!--                        url : "play/"+document.getElementById(event.srcElement.id).innerHTML,-->
<!--                        data : 'get',-->
<!--                        contentType:"application/json;charset=UTF-8",-->
<!--                        dataType : "json",-->
<!--                        success : function(data) {-->
<!--                            var data = JSON.parse(data);-->
<!--                            console.log("loading success");-->
<!--                            console.log(data);-->


<!--                        },-->
<!--                        error : function() {-->
<!--                            //alert('음악 재생 에러');-->
<!--                        }-->
<!--                    });-->
<!--                });-->
<!--            });-->
        });

        </script>
        <div style="min-width: max-content; align-items:center;" >
            <div id="face" onclick="location.href='face.html'"><h1>오늘의 기분을 알아볼게요</h1></div>
            <div class="category"><h1>감정별 인기 음악</h1></div>
            <hr class="line">
            <div id="slider">

                <input type="radio" name="slider" id="slide1" checked>
                <input type="radio" name="slider" id="slide2">
                <input type="radio" name="slider" id="slide3">

                <div id="slides">
                    <div id="overflow">
                        <div class="inner">

                            <div class="slide slide_1">
                                <div class="slide-content">
                                    <ul>
                                        <li class="playlist" onclick="" id="pl1_music1" >1</li>
                                        <li class="playlist" onclick="" id="pl1_music2">2</li>
                                        <li class="playlist" onclick="" id="pl1_music3">3</li>
                                        <li class="playlist" onclick="" id="pl1_music4">4</li>
                                        <li class="playlist" onclick="" id="pl1_music5">5</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="slide slide_2">
                                <div class="slide-content">
                                    <ul>
                                        <li class="playlist" onclick="" id="pl1_music6">6</li>
                                        <li class="playlist" onclick="" id="pl1_music7">7</li>
                                        <li class="playlist" onclick="" id="pl1_music8">8</li>
                                        <li class="playlist" onclick="" id="pl1_music9">9</li>
                                        <li class="playlist" onclick="" id="pl1_music10">10</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="slide slide_3">
                                <div class="slide-content">
                                    <ul>
                                        <li class="playlist" onclick="" id="pl1_music6" >6</li>
                                        <li class="playlist" onclick="" id="pl1_music7">7</li>
                                        <li class="playlist" onclick="" id="pl1_music8">8</li>
                                        <li class="playlist" onclick="" id="pl1_music9">9</li>
                                        <li class="playlist" onclick="" id="pl1_music10">10</li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div id="controls1">
                    <label for="slide1"></label>
                    <label for="slide2"></label>
                    <label for="slide3"></label>
                </div>
                <div id="bullets">
                    <label for="label1"></label>
                    <label for="label2"></label>
                    <label for="label3"></label>
                </div>

            </div>
        </div>

        <br>

        <div class="category"><h1>오늘의 인기 음악</h1></div>
        <hr class="line">
        <div id="slider">

            <input type="radio" name="slider" id="slide1" checked>
            <input type="radio" name="slider" id="slide2">
            <input type="radio" name="slider" id="slide3">
            <input type="radio" name="slider" id="slide4">
            <input type="radio" name="slider" id="slide5">

            <div id="slides">
                <div id="overflow">
                    <div class="inner">

                        <div class="slide slide_1">
                            <div class="slide-content">
                                <ul>
                                    <li class="playlist" onclick="" id="pl2_music1" >1</li>
                                    <li class="playlist" onclick="" id="pl2_music2">2</li>
                                    <li class="playlist" onclick="" id="pl2_music3">3</li>
                                    <li class="playlist" onclick="" id="pl2_music4">4</li>
                                    <li class="playlist" onclick="" id="pl2_music5">5</li>
                                </ul>
                            </div>
                        </div>

                        <div class="slide slide_2">
                            <div class="slide-content">
                                <ul>
                                    <li class="playlist" onclick="" id="pl2_music6" >6</li>
                                    <li class="playlist" onclick="" id="pl2_music7">7</li>
                                    <li class="playlist" onclick="" id="pl2_music8">8</li>
                                    <li class="playlist" onclick="" id="pl2_music9">9</li>
                                    <li class="playlist" onclick="" id="pl2_music10">10</li>
                                </ul>
                            </div>
                        </div>

                        <div class="slide slide_3">
                            <div class="slide-content">
                                <ul>
                                    <li class="playlist" onclick="" id="pl2_music6" >6</li>
                                    <li class="playlist" onclick="" id="pl2_music7">7</li>
                                    <li class="playlist" onclick="" id="pl2_music8">8</li>
                                    <li class="playlist" onclick="" id="pl2_music9">9</li>
                                    <li class="playlist" onclick="" id="pl2_music10">10</li>
                                </ul>
                            </div>
                        </div>

                        <div class="slide slide_4">
                            <div class="slide-content">
                                <ul>
                                    <li class="playlist" onclick="" id="pl2_music6" >6</li>
                                    <li class="playlist" onclick="" id="pl2_music7">7</li>
                                    <li class="playlist" onclick="" id="pl2_music8">8</li>
                                    <li class="playlist" onclick="" id="pl2_music9">9</li>
                                    <li class="playlist" onclick="" id="pl2_music10">10</li>
                                </ul>
                            </div>
                        </div>

                        <div class="slide slide_5">
                            <div class="slide-content">
                                <ul>
                                    <li class="playlist" onclick="" id="pl2_music6" >6</li>
                                    <li class="playlist" onclick="" id="pl2_music7">7</li>
                                    <li class="playlist" onclick="" id="pl2_music8">8</li>
                                    <li class="playlist" onclick="" id="pl2_music9">9</li>
                                    <li class="playlist" onclick="" id="pl2_music10">10</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div id="controls2">
                <label for="slide1"></label>
                <label for="slide2"></label>
                <label for="slide3"></label>
                <label for="slide4"></label>
                <label for="slide5"></label>
            </div>
            <div id="bullets">
                <label for="label1"></label>
                <label for="label2"></label>
                <label for="label3"></label>
                <label for="label4"></label>
                <label for="label5"></label>
            </div>

        </div>
        </div>

        <br>

        <div class="category"><h1>이번주 인기 음악</h1></div>
          <hr class="line">
          <div id="slider">

            <input type="radio" name="slider" id="slide1">
            <input type="radio" name="slider" id="slide2">
            <input type="radio" name="slider" id="slide3">
            <input type="radio" name="slider" id="slide4">
            <input type="radio" name="slider" id="slide5">

            <div id="slides">
                <div id="overflow">
                    <div class="inner">

                        <div class="slide slide_1">
                            <div class="slide-content">
                                <ul>
                                    <li class="playlist" onclick="" id="pl3_music1" >1</li>
                                    <li class="playlist" onclick="" id="pl3_music2">2</li>
                                    <li class="playlist" onclick="" id="pl3_music3">3</li>
                                    <li class="playlist" onclick="" id="pl3_music4">4</li>
                                    <li class="playlist" onclick="" id="pl3_music5">5</li>
                                </ul>
                            </div>
                        </div>

                        <div class="slide slide_2">
                            <div class="slide-content">
                                <ul>
                                    <li class="playlist" onclick="" id="pl3_music6" >6</li>
                                    <li class="playlist" onclick="" id="pl3_music7">7</li>
                                    <li class="playlist" onclick="" id="pl3_music8">8</li>
                                    <li class="playlist" onclick="" id="pl3_music9">9</li>
                                    <li class="playlist" onclick="" id="pl3_music10">10</li>
                                </ul>
                            </div>
                        </div>

                        <div class="slide slide_3">
                            <div class="slide-content">
                                <ul>
                                    <li class="playlist" onclick="" id="pl3_music6" >6</li>
                                    <li class="playlist" onclick="" id="pl3_music7">7</li>
                                    <li class="playlist" onclick="" id="pl3_music8">8</li>
                                    <li class="playlist" onclick="" id="pl3_music9">9</li>
                                    <li class="playlist" onclick="" id="pl3_music10">10</li>
                                </ul>
                            </div>
                        </div>

                        <div class="slide slide_4">
                            <div class="slide-content">
                                <ul>
                                    <li class="playlist" onclick="" id="pl3_music6" >6</li>
                                    <li class="playlist" onclick="" id="pl3_music7">7</li>
                                    <li class="playlist" onclick="" id="pl3_music8">8</li>
                                    <li class="playlist" onclick="" id="pl3_music9">9</li>
                                    <li class="playlist" onclick="" id="pl3_music10">10</li>
                                </ul>
                            </div>
                        </div>

                        <div class="slide slide_5">
                            <div class="slide-content">
                                <ul>
                                    <li class="playlist" onclick="" id="pl3_music6" >6</li>
                                    <li class="playlist" onclick="" id="pl3_music7">7</li>
                                    <li class="playlist" onclick="" id="pl3_music8">8</li>
                                    <li class="playlist" onclick="" id="pl3_music9">9</li>
                                    <li class="playlist" onclick="" id="pl3_music10">10</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div id="controls2">
                <label for="slide1"></label>
                <label for="slide2"></label>
                <label for="slide3"></label>
                <label for="slide4"></label>
                <label for="slide5"></label>
            </div>
            <div id="bullets">
                <label for="label1"></label>
                <label for="label2"></label>
                <label for="label3"></label>
                <label for="label4"></label>
                <label for="label5"></label>
            </div>

        </div>
        </div>
        <br>
        <div id="sidebar">
            <div class="musiclist" id="music1" ><div class="cover"></div>노래명 <br> 가수명 <div class="like"></div></div>
            <div class="musiclist"id="music2" ><div class="cover"></div> 노래명 <br> 가수명 <div class="like"></div></div>
            <div class="musiclist"id="music3"><div class="cover"></div> 노래명 <br> 가수명 <div class="like"></div></div>
            <div class="musiclist"id="music4"><div class="cover"></div> 노래명 <br> 가수명 <div class="like"></div></div>
            <div class="musiclist"id="music5"><div class="cover"></div> 노래명 <br> 가수명 <div class="like"></div></div>
            <div class="musiclist"id="music6"><div class="cover"></div>노래명 <br> 가수명 <div class="like"></div></div>
            <div class="musiclist"id="music7"><div class="cover"></div>노래명 <br> 가수명 <div class="like"></div></div>
            <div class="musiclist"id="music8"><div class="cover"></div> 노래명 <br> 가수명 <div class="like"></div></div>
            <div class="musiclist"id="music9"><div class="cover"></div> 노래명 <br> 가수명 <div class="like"></div></div>
            <div class="musiclist"id="music10"><div class="cover"></div> 노래명 <br> 가수명 <div class="like"></div></div>
            <div class="musicnow">
                <div class="nowpart"><div class="cover"></div> 노래명 <br> 가수명 <div class="like"></div></div>
                <div class="player"><button id="invisible" onclick='change()'>접기</button><div>이전</div><div id="play"></div><div>다음</div></div>
            </div>
        </div>
    </main>
    <footer id="footer"></footer>
</body>
</html>